<p>
  <% if @kitten.nil? %>
    Could not find your kiteen :(
  <% else %>
    Name: <%= @kitten.name %>
    Age: <%= @kitten.age %>
    Softness: <%= @kitten.softness %>/10
    Cuteness: <%= @kitten.cuteness %>/10
    <%# link_to "Delete", @kitten, method: :delete %>
    <%= delete_kitten_link(@kitten) %> <!-- helper -->
  <% end %>
</p>